<form>
    <div class="content">
        <h1>Create Account</h1>

        <div class="gender">
            <strong>I am a</strong>
            <mat-radio-group [formControl]="GenderCtrl" aria-label="Select your gender" color="primary">
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" [formControl]="EmailCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" [formControl]="UserNameCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" [formControl]="PasswordCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" [formControl]="ConfirmPasswordCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input [formControl]="DateOfBirthCtrl" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="dp3"
                placeholder="Enter your date off birth">
            <mat-hint>Between {{minDate.getFullYear()}} to {{maxDate.getFullYear()}}</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
            @if (DateOfBirthCtrl.hasError('required')) {
            <mat-error>This field is required.</mat-error>
            }
        </mat-form-field>

        <button (click)="register()" mat-flat-button color="parimary" [disabled]="registerFg.invalid">
            Register
        </button>

        @if (passwordsNotMatch) {
        <p>Passwords don't match!</p>
        }
    </div>
</form>