<h1>Welcom to Match Finder!</h1>
<h2>value of ageSig: {{exampleService.ageSig()}}</h2>
<button (click)="exampleService.updateAgeSig()" mat-stroked-button>Update Age</button>

<!-- Signal basic 
<p>Value: {{accountService.responseUser}}</p>
<button (click)="accountService.incer()" mat-stroked-button>Set value</button>
-->



<!-- Set local Storege basic
<button (click)="getValueLocalStorage()" mat-stroked-button>Get from local storage</button>
<button (click)="addObjectLs()" mat-stroked-button>Set To Local Storage</button>
<button (click)="removeItem()" mat-stroked-button>Remove one item from local storage</button>
<p>{{userIn}}</p>
-->