.container {
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 1rem;

    .memebrs-container {
        position: relative;
        min-height: 70dvh;

        display: flex;
        flex-direction: column;
        align-items: center;

        .members {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }

        .paginator {
            position: absolute;
            bottom: 1rem;
        }
    }
}