$card_size: 9rem;

.container {
    display: flex;
    flex-direction: column;

    .memebrs-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;
        flex-wrap: wrap;

       
    }
}