.members-container {
  height: 100%;
  position: relative;
  min-height: 70dvh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h1 {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .side-bar {
    margin-right: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .filter {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .paginator {
    position: absolute;
    bottom: 10px;
    left: 45rem;
  }
}
