div {
    background-color: gray;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;

    mat-card {
        display: flex;
        gap: 1rem;
        background-color: aquamarine;
        
        mat-card-header {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                border-radius: 50%;
            }
        }
    }
}