$card_size: 9rem;

.card {

    max-width: $card_size;

    img {
        width: $card_size;
        height: $card_size;
        // transform: scale(1.0, 1.0);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
        border-radius: 10px;
    }

    &:hover {
        img {
            transform: scale(1.2, 1.2);
            transition-duration: 500ms;
            transition-timing-function: ease-out;
            opacity: 0.7;
            border-radius: 50px;
        }

        .card-img-wrapper .user-icons {
            bottom: 0.5rem;
        }
    }

    .card-img-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;

        .user-icons {
            // background-color: red;
            position: absolute;
            bottom: -30%;
            padding: 0;
            margin: 0;
            display: flex;
            min-width: $card_size;
            justify-content: space-evenly;
            gap: 2px;
            list-style-type: none;

            transition: all 0.3s ease-in-out;

            li {
                transition-duration: 200ms;
                transition-timing-function: ease-out;

                &:hover {
                    transform: scale(1.3, 1.3);
                    transition-duration: 200ms;
                    transition-timing-function: ease-out;
                }
            }
        }
    }
}