@if (memberIn) {
<mat-card class="card">
  <div class="card-img-wrapper">
    @if (memberIn.photos.length === 0) {
    <img src="member.jpg" alt="{{memberIn.userName}}">
    }
    @else {
    @for (photo of memberIn.photos; track $index) {
    @if (photo.isMain) {
    <img src="{{apiUrl + photo.url_165}}" height="128" width="128" alt="{{memberIn.userName}}">
    }
    }
    }
    <ul class="user-icons">
      <li>
        <button mat-mini-fab>
          <mat-icon color="primary">person_add</mat-icon>
        </button>
      </li>
      <li>
        <button mat-mini-fab>
          <mat-icon color="warn">favorite</mat-icon>
        </button>
      </li>
      <li>
        <button mat-mini-fab>
          <mat-icon color="accent">mail</mat-icon>
        </button>
      </li>
    </ul>
  </div>
  <mat-card-header [routerLink]="['/member-details/' + memberIn.userName]">
    <div class="title">
      <mat-icon>boy</mat-icon>
    </div>
    <mat-card-subtitle>{{ memberIn.age }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
}